body {
  margin: 0;
  padding: 0 24px;
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.--loading {
  background-color: #9c9c9c;
}
[id="root"] {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
h1, h2, h3, h4 {
  margin-top: 0;
}
.--brackets:not(:empty):before {
  content: " (";
}
.--brackets:not(:empty):after {
  content: ")";
}
.--centre {
  text-align: center;
}